

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 文章管理 iframe 框</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../static/editormd/css/editormd.css" />
  <!-- 页面解析markdown为HTML显示需要的css -->
  <link rel="stylesheet" href="../static/editormd/css/editormd.preview.css" />
</head>
<body>

  <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">文章标题</label>
      <div class="layui-input-inline">
        <input type="text" name="title" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">发布人</label>
      <div class="layui-input-inline">
        <input type="text" name="author" lay-verify="required" placeholder="请输入号码" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">文章内容</label>
      <div class="layui-input-inline" id="test-editormd">
<!--        <textarea name="content" lay-verify="required" style="width: 400px; height: 150px;" autocomplete="off" class="layui-textarea"></textarea>-->
      </div>
    </div>
<!--    <div class="layui-form-item">-->
<!--      <label class="layui-form-label">标签</label>-->
<!--      <div class="layui-input-inline">-->
<!--        <select name="label" lay-verify="required">-->
<!--          <option value="">请选择标签</option>-->
<!--          <option value="美食">美食</option>-->
<!--          <option value="新闻">新闻</option>-->
<!--          <option value="八卦">八卦</option>-->
<!--          <option value="体育">体育</option>-->
<!--          <option value="音乐">音乐</option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="layui-form-item">-->
<!--      <label class="layui-form-label">发布状态</label>-->
<!--      <div class="layui-input-inline">-->
<!--        <input type="checkbox" lay-verify="required" lay-filter="status" name="status" lay-skin="switch" lay-text="已发布|待修改">-->
<!--      </div>-->
<!--    </div>-->
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
    </div>
  </div>

  <script src="../../../static/layuiadmin/layui/layui.js"></script>
  <script src="../static/jquery/jquery-3.2.1.min.js"></script>
  <script src="../static/layuiadmin/layui/layui.js"></script>
  <script src="../static/editormd/js/editormd.min.js"></script>

  <!-- 页面markdown解析成HTML需要的js -->
  <script src="../static/editormd/lib/marked.min.js"></script>
  <script src="../static/editormd/lib/prettify.min.js"></script>
  <script src="../static/editormd/lib/raphael.min.js"></script>
  <script src="../static/editormd/lib/underscore.min.js"></script>
  <script src="../static/editormd/lib/sequence-diagram.min.js"></script>
  <script src="../static/editormd/lib/flowchart.min.js"></script>
  <script src="../static/editormd/lib/jquery.flowchart.min.js"></script>
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form'], function(){
    var $ = layui.$
    ,form = layui.form;



    $(document).ready(function () {
      console.log("===================页面加载完成=============开始渲染md文档");
      var testEditor = editormd("test-editormd", {
        width: "90%",
        height: 740,
        path : 'static/editormd/lib/',
        theme : "default",
        previewTheme : "default",
        editorTheme : "default",
        //markdown : md,             // 初始化编辑区的内容
        codeFold : true,
        //syncScrolling : false,
        saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
        searchReplace : true,
        //watch : false,                // 关闭实时预览
        htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
        //toolbar  : false,             //关闭工具栏
        //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
        emoji : true,
        taskList : true,
        tocm            : true,         // Using [TOCM]
        tex : true,                   // 开启科学公式TeX语言支持，默认关闭
        flowChart : true,             // 开启流程图支持，默认关闭
        sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
        //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
        //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
        //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
        //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
        //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
        imageUpload : true,
        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        imageUploadURL : "./php/upload.php", // 文件上传路径，返回值为图片加载的路径
        onload : function() {
          // 加载后富文本编辑器成功后的回调
          console.log('onload', this);
          //this.fullscreen();
          //this.unwatch();
          //this.watch().fullscreen();

          //this.setMarkdown("#PHP");
          //this.width("100%");
          //this.height(480);
          //this.resize("100%", 640);

          // 异步请求md文件，用于编辑时的数据回显
          $.get('test.md', function(md) {
            testEditor.setMarkdown(md);
          });
        }
      });
      console.log("=================md页面渲染完毕=======================")
    });


    //监听提交
    form.on('submit(layuiadmin-app-form-submit)', function(data){
      var field = data.field; //获取提交的字段
      var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  

      //提交 Ajax 成功后，关闭当前弹层并重载表格
      //$.ajax({});
      parent.layui.table.reload('LAY-app-content-list'); //重载表格
      parent.layer.close(index); //再执行关闭 
    });
  })
  </script>
</body>
</html>